<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">	
	    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="phonebook.html">HOME <span class="sr-only">(current)</span></a></li>
		        <li><a href="" ng-click="go('/addContact')">Add Contact</a></li>
		      </ul>

		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search" ng-model="search">
		        </div>
		      </form>
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<!-- Add Contact -->
		<div class="form_div">
			<form name="addForm" ng-submit="addContact()" class="col-xs-8" novalidate>
			    <div class="col-xs-3">
			        <input type="text" class="form-control" placeholder="Name" ng-model="inputName" required>
			    </div>
			    <div class="col-xs-3">
			        <input type="number" class="form-control" placeholder="Phone Number" ng-model="inputNumber" ng-maxlength=10 ng-minlength=10 required>
			    </div>
			    <div class="col-xs-3">
			        <input type="date" class="form-control" ng-model="inputDate"
        min="1901-01-01" max="2016-12-31" required/>
			    </div>
			    <button class="btn-md btn btn-success ">Add Contact</button>
			</form>
			<div>
				<p ng-show=""></p>
			</div>
		</div>
		<br><br>
		<div ng-repeat="contact in contacts | filter:search | orderBy:'name'" class="contactContainer">
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 contact">
				<span>Name: {{contact.name}}</span> <br>
				<span>Phone: {{contact.phone}} </span> <br>
				<span>Birthday: {{contact.birthday | date:"MMM dd, yyyy"}}</span>
			</div>

		</div>

	</div>
</div>