body {
    background-color: #5D4C46;
}

.login_div {
    height: 200px;
 	margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px solid white;
    background-color: #F2EDD8;
    border-radius: 10px;
    border-left-color: green;
}

form {
    margin-top: 20px;
}

form div.input-group,
button {
    margin-top: 20px;
}

form button {
    float: right;
}