<ol class="breadcrumb">
  <li ng-repeat="item in list"><a href="{{item.uhref}}">{{item.name}}</a></li>
</ol>

<ul>
	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam inventore non velit dolores mollitia officia laudantium eius optio tempora quo laborum, quisquam quas laboriosam blanditiis est totam sunt error perspiciatis!</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cupiditate officiis beatae earum corporis perferendis unde explicabo nihil quos ex a debitis, eius voluptas, et, dolores consequuntur quasi aliquam voluptates.</li>
	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat aliquam velit voluptatem voluptatum exercitationem nostrum, adipisci pariatur ea iure. Facere neque nisi sapiente praesentium at pariatur tempore architecto eius quidem.</li>
</ul>

<button ng-click="navigateTo('portfolio.a')">go to a</button>
<button ng-click="navigateTo('portfolio.b')">go to b</button>
<button ng-click="navigateTo('portfolio.c')">go to c</button>